/*----------------------------------------
Main Styles
----------------------------------------*/
body,
/*button,*/
input,
select,
textarea {
	font-family: 'Rubik', sans-serif;
	line-height: 1.65;
	color: #2f2f2f;
}

body.custom-background {
	background-color: #f7e9d2;
}

.site-title,
.site-description {
	display:none;
}

h1,
h2,
h2.entry-title,
h2.entry-title a,
h3,
h4,
h5 {
	color: #126bad;
}

a {
	color: #f15a38;
	text-decoration: none;
}

a:hover,
a:focus {
	color: rgba(241,90,56,.7);
}

.entry-content a, 
.entry-summary a, 
.page-content a, 
.comment-content a, 
.pingback .comment-body > a {
    border-bottom: 1px solid #f15a38;
}

.sticky .entry-footer {
	display: none;
}

/* Conferencier */

.attention_button {
    -webkit-appearance: button;
    background-color: #126bad;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.7917em 1.5em;
}

/* Footer */

.site-info {
	position: relative;
}

.site-info a {
	border-bottom: 0;
	position: relative;
	top: -30px;
}

.site-info a:before {
	content: "";
	background-image: url('https://cldup.com/w3gQ97rKP0.svg');
	background-size: 64px;
	background-position: center;
	background-repeat: no-repeat;
	color: #444;
	height: 64px;
	font-size: 20px;
	line-height: 1.3em;
	margin: 0 auto;
	padding: 0;
	width: 64px;
	text-indent: -9999px;
	outline: 0;
	display: block;
	margin-bottom: 10px;
	position: relative;
	background-color: #126bad;
	border-radius: 100%;
	padding: 32px;
	border: 8px solid #126bad;
}

.site-footer {
	border: 0;
	box-shadow: none;
	background-color: #126bad;
	color: #fff;
}

.site-footer a {
	color: #fff;
	text-align: center;
	display: inline-block;
	width: 100%;
}

.site-info a:hover,
.site-info a:focus {
	border-bottom: none;
	color: #eee;
}

.site-info a:hover {
	border-bottom: 0;
}

.organizer {
	overflow: auto;
}

/* Media adjustments */
@media screen and (min-width: 59.6875em) {
	.site-info {
		padding: 2% 10% 0;
	}	
}

@media screen and (min-width: 0em) {
	.site-footer {
		padding: 0;
	}
}
