/*----------------------------------------
Main Styles
----------------------------------------*/
body,
button,
input,
select,
textarea {
	font-family: 'Rubik', sans-serif;
	line-height: 1.65;
	color: #2f2f2f;
}

body.custom-background {
	background-color: #f7e9d2;
}

h1,
h2,
h2.entry-title,
h2.entry-title a,
h3,
h4,
h5 {
	color: #126bad;
}

a {
	color: #f15a38;
	text-decoration: none;
}

a:hover,
a:focus {
	color: rgba(241,90,56,.7);
}

.entry-content a, .entry-summary a, .page-content a, .comment-content a, .pingback .comment-body > a {
    border-bottom: 1px solid #f15a38;
}
